body{
text-align:center;
color:yellow;
background-color: cadetblue;
}
h2{
height:32px;
font-size: medium;
}
li{
text-align: left;
}
img{
border:black ;
padding:10px;
width:250px;
position:fixed;
top:18%;
left:3%;
}