body{
text-align:center;
color:yellow;
background-color:darkcyan ;
}
h2{
height:32px;
font-size: medium;
color:yellow;
}
h1{
  position: absolute;
  top:25%;
  right:35%;
  color:yellow;
}
img{
border:black ;
width:250px;
position:fixed;
top:12%;
left:3%;
}
img:hover {
    box-shadow: 5px 4px 2px black;
}
#cys{
    width:230px;
    padding:10px;
    border: 10px yellow;
    position: fixed;
    top:60%;
    left:4%;
    font-size: 17px;
    color:yellow;
}
input{
    padding:8px;
    width:80px;
}