body{
    text-align: center;
    background-color: antiquewhite;
    }
li{ 
       text-align: left;
       font-size: 30px;
       padding: 15px;
    }
img{
        border:black;
        padding:10px;
        width:350px;
        position:fixed;
        top:30%;
        left:36%;
       }