body{
    text-align: center;
    background-color: #faebd7;
    }
#choices{
text-align: left;
font-size: 30px;
padding:15px;
}
img{
        border:black;
        padding:10px;
        width:350px;
        position:absolute;
        top:50%;
        left:36%;
       }
