<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1></h1>
        <div id="app">
            姓名：<input type="text" v-model="name"><br><br>
            <input type="radio" v-model="graduation" value="0"><label for="bachelor">大學</label>
            <input type="radio" v-model="graduation" value="1"><label for="master">碩士</label>
            <input type="radio" v-model="graduation" value="2"><label for="phd">博士</label>
            <p>其他資訊</p>
            <input type ="checkbox" v-model="club_experience">參加社團：{{club_experience}}<br>
            <input type ="checkbox" v-model="work_experience" true-value="有" false-value="無" @change="reset_work_experience">
            工作經驗：{{work_experience}}
            <select v-model="selectedIndex" v-show="work_experience=='有'">
                <option v-for="(stringItem,index) in statusList" :value="index">
                    {{stringItem}}
                    </option>
                </select>
                <br><br>
                <button @click="displaySummary">摘要</button>{{summary}}
                <br><br>
                <button @click="calculate">起薪計算</button>
                <span v-show="showResult">NT${{result_realtime.toLocaleString('ZH-tw')}}</span>
                <br><br>
                <button @click="reset">清空</button>
            </div>
        <script src="//unpkg.com/vue@next"></script>
        <script src="main.js"></script>
    </body>
</html>